// Place all the styles related to the Quizzes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//class for the correct answer
.highlight {
	background-color:rgb(46,204,113);
}

//Styles for elements such as content
.divisor{
	border: 2px solid #DDDDDD;
	padding:15px;
	margin-bottom:1px;
}

//Styles for elements such as answers
.divisor2{
	border: 2px solid #DDDDDD;
	padding:19px;
	margin: 12px 0px;
	list-style: none;

}

//for spacing the buttoms (remove, correct) on the answer section.
.paddingbuttons{
	padding:5px 10px;
	font-size: 12px;
	line-height: 1.5;
	margin: 8px 1px;
}

//class for removing the padding of the list
.questions-container{
	padding:0;
}

//remove the style of the list
.question{
	list-style:none;
}

//space for elements inside the button (icons and words)
.question-remove::before, .option-add::before, .questionadd::before{
	margin-right: 4px;
}

//giving the submit section of the form some style.
.submitborder{
	border-top:1px solid rgb(221,221,221);
	margin:25px 0px;
}

//buttom submit, giving it some separation from the grey line.
.bsubmit{
	margin-top:20px;
}
