
<div class="text-center">
	<h1>Anadir un Quizz</h1>

	<%= form_for @quiz do |f| %>
	  <p class="text-center">
	    <%= f.label :Name %><br>
	    <%= f.text_field :Name %><br>
	  </p>

	 <p class="text-center">
	    <%= f.submit %>
	 </p>
	<% end %>


</div>