<div>
	<%= question.content %>

	<%= question.answers.each do %>
	<% end %>

	<% if completed_url %>
		<a class="" href="<%= completed_url %>">Terminar Quiz</a>
	<% else %>
		<a class="next_button" href="<%= next_url %>">Siguiente pregunta</a>
	<% end %>

</div>